/*LES REGLES GENERALES DE BASE*/

html {
    color: #444444;
    font-family: "Segoe UI", cursive;
    font-size: 0.9rem;
    background-image: url("../img/cigale-fourmi.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

h1 {
    color: #900;
    font-size: 2.5rem;
    font-family: "Segoe UI Light", "Segoe UI", "sans-serif";
    font-weight: 100;
    text-transform: uppercase;
    margin: 0 0 .5rem;
}

h2 {
    font-family: "Segoe UI Light", "Segoe UI", "sans-serif";
    font-size: 2em;
    font-weight: 100;
    font-variant: small-caps;
    margin: 0;
}

a {
    color: inherit;
}

a[href$=".pdf"] {
    background-image: url("../img/pdf.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 1.75rem;
}

a[href$=".doc"] {
    background-image: url("../img/word.svg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 1.75rem;
}

nav a {
    text-decoration: none

}

table {
    border-collapse: collapse;
}

table, th, td {
    /*border:1px solid #444444;*/
}

img, video, audio, figure, form {
    max-width: 100%;
}

/*LE POSITIONNEMENT DES ELEMENTS*/
/*entete,#entete nav,#Colgauche,#contenu,#pied,body{border:px dashed navy;}*/

body {
    margin: auto;
    padding-bottom: 70px;
    max-width: 1000px;
    background-color: rgba(255, 255, 255, .7);
}


#header {
    position: relative;
    height: 140px;
}

#header nav {
    position: absolute;
    bottom: 0;
    right: 0;
}

#colGauche {
    position: absolute;
    width: 160px;
}

#contenu {
    margin-left: 160px;
}

#pied {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1000px;
    background-color: white;
}

/*LE HEADER*/

header {
    background-color: #cccc;
    background-image: url("../img/eni-bv-64.png");
    background-repeat: no-repeat;
    background-position: right 24px top 24px, 0 0;
    background-size: 48px, cover;
    overflow: hidden;
}

header h1 {
    margin-left: 40px;
    margin-bottom: 0;
}

header.bandeau h1 {
    margin: 40px 0 0 60px;
}

header h2 {
    font-family: "Segoe UI Light";
    font-size: 1.5rem;
    margin-left: 40px;
}

header.bandeau h2 {
    background-color: rgba(0, 0, 0, .7);
    color: #ffffff;
    font-size: 1em;
    line-height: 40px;
    width: 160px;
    text-align: center;
    transform-origin: bottom left;
    transform: translate(-40px, -20px) rotate(-40deg);
}


header nav {
    margin: 0 8px;
}

header nav a {
    background-color: #eeeeee;
    border-left: 1px solid #cccccc;
    display: inline-block;
    padding: .2em 1em;

}

header nav a:first-child {
    border-left: none;
    border-radius: 8px 0 0 0;
}

header nav a:last-child {
    border-radius: 0 8px 0 0;
}

header nav a:hover {
    background-color: #aaaaaa;
}

/*------ fable(class="fable")-----*/

.fable {
    background-color: #990000;
    color: white;
    font-family: "Indie flower", cursive;
    font-size: 1.5em;
    line-height: 1.6em;
    letter-spacing: 1em;
    font-style: italic;
    padding: 1em;
    border-radius: 1em;
    height: 1em;
    width: 5.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: height .4s, width .6s .3s;
}

.fable:hover {
    height: 18em;
    width: 33em;
    white-space: normal;
    transition: height .4s .5s, width .6s;
    text-align: justify;
}

/*----- menu(class="menu") -----*/

.menu {

    background-color: #990000;
    color: #ffffff;
}

.menu a {
    display: block;
    padding: .5em 1em;
    /*border-bottom: 1px solid #cccccc;*/
    transition: background-color .4s;
}

.menu a:hover {
    color: #990000;
    background-color: #eeeeee;
}


/* ------tableau(class="mon-tableau")*/

.mon-tableau {
    border-collapse: collapse;
}

.mon-tableau th, .mon-tableau td {
    padding: 5em 1em;
}

.mon-tableau thead {
    background-color: #0088AA;
    background-image: linear-gradient(to bottom, #33aadd, #0088AA);
    color: #ffffff;
}

.mon-tableau tbody {
    border-bottom: 1px solid #999999;
}

.mon-tableau tbody tr:nth-child(odd) {
    background-color: #eeeeee
}

.mon-tableau tbody tr:nth-child(even) {
    background-color: #cccccc;
}

.mon-tableau tbody td {
    border: 1px solid #999999;
    border-style: none solid;
}

#table-population.mon-tableau tbody td:last-child {
    text-align: right;
    background-color: rgba(255, 255, 0, 5);
}

/* ------formulaire (class="mon-formulaire")-----*/

.mon-formulaire {
    border: 1px solid #555555;
    width: 346px;
    padding: 1em;
}

.mon-formulaire label {
    display: inline-block;
    width: 120px;
    margin: 4px 0;
    vertical-align: top;
}

.mon-formulaire > input:not([type="checkbox"]),
.mon-formulaire textarea,
.mon-formulaire select {
    display: inline-block;
    box-sizing: border-box;
    width: 220px;
    margin: 8px 0;
}

.mon-formulaire button {
    display: inline-block;
    margin: 8px 0;
}

.mon-formulaire fieldset label {
    width: 60px;
}

/* -----Presentation adaptative -----*/
@media screen and(max-width: 720px) {
    aside {
        display: none;
    }

    #colGauche {
        position: static;
        width: auto;
    }

    #contenu {
        margin-left: 0;
    }

    body {
        padding-bottom: 0;
    }

    #pied {
        position: static;
    }

    .menu {
        text-align: center;
    }

    .menu a {
        display: inline-block;
    }
}











