<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Float Layout</title>

    <link rel="stylesheet" href="monStyle.css"/>
</head>
<body>

<header>
    <h2>Les capitales</h2>
</header>
<section>
    <nav></nav>
    <article></article>
</section>
<nav>
    <ul>
        <li>
            <a href="index.html">Londres</a>
        </li>
        <li>
            <a href="paris.html">Paris</a>
        </li>
        <li>
            <a href="abidjan.html">Abidjan</a>
        </li>
        <li>
            <a href="teheran.html">Teheran</a>
        </li>
        <li>
            <a href="rabat.html">Rabat</a>
        </li>
    </ul>
</nav>
<article>
    <h1>Paris</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet cumque delectus dolores et eveniet,
        explicabo fugit in maiores minus nemo non numquam odit quasi rem reprehenderit temporibus vel voluptates.   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet cumque delectus dolores et eveniet,
        explicabo fugit in maiores minus nemo non numquam odit quasi rem reprehenderit temporibus vel voluptates.
    </p>
    <p>
        Alias aliquid animi autem corporis, deserunt dignissimos doloribus eius error eveniet excepturi expedita facilis
        fugit ipsa ipsum laboriosam maiores modi natus necessitatibus numquam odio praesentium qui quidem quod rerum
        voluptatum. Alias aliquid animi autem corporis, deserunt dignissimos doloribus eius error eveniet excepturi expedita facilis
        fugit ipsa ipsum laboriosam maiores modi natus necessitatibus numquam odio praesentium qui quidem quod rerum
        voluptatum.
    </p>

</article>
<footer>
    <p>&copy;Copyright DAWM</p>
</footer>
</body>
</html>